  
body  {      
      background-image: url(/Bilder/Bakgrunn.jpeg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50%;
      background-size: cover;
     
     }


     /*jeg setter bakgrunnen og gjør at den er midtstilt og at den dekker hele skjermen*/


.alt{

     text-align: center;
       
     }


     /*her midtstiller jeg all teksten og media som er på nettsiden*/



.header{
     font-size: 2vw;
     background-color: rgba(127, 168, 192, 0.685);

     margin-left: 20%;
     margin-right: 20%;
     margin-bottom: 8%; 

       }


       /*Her bestemmer jeg hvor stor fonten er, og jeg bruker vw fordi den forandrer seg basert på 
       hvor stor viewporten er og jeg setter bakgrunnen til tittelen, og bestemmer hvordan den ser ut*/



.subtitle{
     font-size: 2vw;
     margin-bottom: 5%;
       }
       

.spilltekst{

     margin: 50px;
     padding: 2%;

     font-size: 1.5vw;
     line-height: 225%;

     background-color: rgba(240, 248, 255, 0.87);  
     margin-left: 10%;
     margin-right: 10%;
 
       }



     /*jeg setter linjeavstanden, fontstørrelsen, bakgrunnsfargen, og hvor stor den er*/



.mekanikktekst{
     font-size: 1.5vw;
     margin-top: 5%;
     margin-left: 10%;
     margin-right: 10%;
}

.media{

   padding: 5%;
   }


     /*padding gjør at det blir avstand mellom dette objektet og de andre*/
